:root {

    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --header-height: 150px; 
    --navbar-height:65px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --primary-color: #00ced1;
}

* {
    box-sizing: inherit; /*Kế thừa thẻ chứa nó*/
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    /* phông chữ sans- serif: phông chữ ko có chân*/
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%; 
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

